@page "/"

<br />
<br />
<br />
<div class="title">

   <h1 class="weave">¡Aprender a leer es encender un fuego, cada sílaba que se deletrea es una chispa!</h1>
</div>

<br />
<br />
@* <h1 class="border">¡Aprender a leer es encender un fuego, <br /> cada sílaba que se<br /> deletrea es una chispa!</h1>
*@

<div class="contenedor">

  <div class="text-justify">
    <p>El catálogo de libros es una herramienta que permite a los lectores acceder a una
     gran variedad de obras literarias, académicas, informativas y de entretenimiento.
     El catálogo es una fuente de conocimiento, cultura y diversión para todos
     los amantes de la lectura.
     <br />
     <br />
     Ten en cuenta que la lectura es un instrumento fundamental para formar al ser humano en cuanto 
     a valores morales, estimulación de la buena conducta, estimulación de la conciencia crítica, 
     potencia el pensamiento creativo e imaginario y enriquece el vocabulario de las  personas.
     <br />
     <br />
     En otras palabras “La lectura es como el alimento; el provecho no está en proporción de lo que se come, sino de lo que se digiere”. 
     En conclusión la lectura es como ese alimento que te ayuda a formarte como persona, teniendo en cuenta la autonomía, 
     el dominio, la convencía social, los valores morales junto con el conocimiento más a fondo sobre las cosas debido a 
     que cuando se lee enriqueces el vocabulario.
    </p>
  </div>
        <div  class="text-center">
            <img src="/Images/LogoLibro.png" width="450" height="450"  />
        </div>
</div>

<style>
     .imagen{
        background-color:white;
        width:450px;
        border-radius:28px;
    }
     .img img:hover{
        transform:translateY(6px);
        box-shadow: 0 2px 2px rgba(0,0,0,0.6);
    }
   
</style>


    


