@page "/"



<br />
    <h2>Nuestro Objetivo</h2>
    <br />
   <p>El catalogo de libros tiene la finalidad de facilitar al usuario el acceso a un determinado libro. De esta manera
       cuando una persona interesada en leer u obtener un libro, puede consultar en el catalogo el libro que busca. Con la ventaja
       que es gratuita la obtencion del libro o si simplemente lee el libro desde el catalogo, para
       acceder a la lectura no tiene ningún costo.
       Aquí se encuentra una gran variedad de libros en la lista que se encuentra deplegada en el catálogo
       y cada día se pueden encontrar más libros de acuerdo a los registros que se realizarán. El cátalogo
       irá creciendo y una gran variedad de libros se podrán encontrar.
   </p>
    <br />
    <hr />
    <br />
     <h2>Ventajas del sistema</h2>
     <br />
     <li>Un catálogo de libros ayuda a los clientes a
         encontrar los libros que buscan más fácilmente, lo que aumenta la satisfacción del cliente.
     </li>
     <br />
     <li>Un catálogo de libros ayuda a los clientes a tomar decisiones sobre qué libros leer, ya que le permite elegir.</li>
     <br />
     <li>El catálogo de libros ayuda a los clientes a encontrar los libros que necesitan sin tener que buscar en toda la lista.</li>
     <br />
     <hr />
     <br />
    <div class="circle">
        <br />
        &copy  CatalogoLibros - 2023.
    </div>
   
    <style>
    h2{
        display:flex;
        justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    color:black;
    font-weight:600;
    }
    li{
        font-family: Arial, Helvetica, sans-serif;
    color:black;
    
    }
    hr{
        border:none;
        border-top: 6px solid blue;
        height:4px;
        border-radius:8px;
    }
    .circle{
        display:flex;
        justify-content:center;
        align-items:center;
        color:black;
        font-family:Arial;
        font-weight:bold;
    }
    </style>


    


