@page "/libros"
@using Models
@using Services
@inject ILibroService LibroService

<MudText Typo="Typo.h4">Libros</MudText>

@if (libros == null)
{
    <p>Cargando...</p>
}
else
{
    <MudGrid>
        @foreach (var item in libros)
        {
            <MudItem xs="12" sm="10" md="6" lg="4">
                <MudCard>
                    <MudCardHeader Class="teal ">
                        <CardHeaderContent>
                            <MudText Typo="Typo.h6">@item.Nombre</MudText>
                        </CardHeaderContent>
                    </MudCardHeader>
                    <MudCardActions>
                         <img src="@item.Imagen" alt="@item.Nombre" Elevation="25" class="rounded-lg" width="60%" height="auto" />
                        <MudButton Link="@($"/detalles/{item.Id}")" Variant="Variant.Outlined" Color="Color.Success">Detalles</MudButton>
                    </MudCardActions>
                </MudCard>

            </MudItem>
        }
    </MudGrid>
}

@code {
    IEnumerable<Libro> libros = new List<Libro>();

    protected override async Task OnInitializedAsync()
    {
        libros = await LibroService.GetAll();
    }
}
